html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: radial-gradient(circle at 50% 50%, #383691, #333 100%); */
    font-family: "Zen Dots", serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    /* outline: 1px solid rgb(26, 255, 0); */
    overflow-x: hidden;
    scroll-behavior: smooth;

    
  }

  /* add a variable color */
  :root {
    ---white: #fff;
    --color: white;
    --color0: #fbf9f0;
    --tRed: #c34240;
    --dark1: #121219;
    --brandcolor: #d7d2c3;


  }

  .flex-col {
    display: flex; flex-direction: column;  align-items: center; justify-content: center;
  }

  .flex-row {
    display: flex; flex-direction: row;  align-items: center; justify-content: center;
  }

  p {
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--tRed);
}
::-webkit-scrollbar-track {
    background: transparent;
}

.sm {
  display: none !important;
}

  .zen-dots-regular {
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 5px 30px;
    color: #fff;
  }
  .logo-div {
   display: flex;
   justify-self: center;
   align-items: center;
  }

  .logo {
   border: 1px solid rgb(239, 34, 34);
   border-radius: 2px;
  }

  .logoSm{
    width: 100%;
    height: 10%;
    /* padding: 10px 10px; */
    margin: 10px;
    display: flex;
    align-items: center;
    /* background-color: red; */
  }


 


  .mobile-links ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  
  .mobile-links li {
    margin: 15px 0;
  }
  
  .mobile-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .mobile-links a:hover {
    color: #f39c12;
  }


  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .nav-links li {
    position: relative;
  }
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 5px;
  }
  .navbar .nav-links a:hover {
    color: #000000;
    background-color: var(--color);
    /* padding: 5px; */
    border-radius: 15px;

  }

  .navbar .connect-btn {
    background: var(--color);
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #1f1e1b;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }

  .navbar .connect-btn:hover {
    background: var(--tRed);
    color: var(--color);
  }
  .nav-links a:hover + .dropdown, .dropdown:hover, .drop-container:hover .section:hover {
    display: block;
  }
  .dropdown {
    display: none;
    position: absolute;
    background: rgb(247, 247, 247);
    width: 150px;
    height:190px;
    top: 35px;
    left: 10px;
    /* list-style: none; */
    padding: 4px 0px; 
    border-radius: 5px;
  }
  .dropdown li {
    padding: 10px 20px;
  }
  .dropdown li:hover {
    background: #555;
  }
  .connect {
    font-size: 16px;
    cursor: pointer;
  }

  .drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drop-container .section {
    width: 95%;
    height: 100%;
    background-color: white;
    color: black;
    /* font-family: "Zen Dots", serif; */
    font-size: 10px;
  }

  .section .title {
    background-color: #ffffff;
    padding: 4px;
    border: 1px solid #e4e4e4;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;

  }
  .section .socials {
    background-color: #ffffff;
    padding: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #e4e4e4;
    /* border-top-left-radius: 4px !important; */
    /* border-top-right-radius: 4px !important; */

  }


  .home-banner {
    width: 100%;
    height: 70vh;
    background-color: var(---white);
    background-image: url("assets/banner2.PNG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.about {
  height: 'auto';
  display: flex;
  flex-direction: column;
  align-items: center ;
  /* background-color: red; */
}

.about .container {
  width: 80%;
  height: auto;
}

.about .container h1 {
  line-height: 30px !important;
  padding: 0px !important;
  text-align: center;
}
.about .container p {
 display: flex;
 justify-self: center;
 text-align: center;
 padding-bottom: 20px;

}


/* Sliding div styles */
 .slide-menu {
  position: absolute;
  /* top: -100%;  */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  overflow: hidden;
}

.slide-menu.hidden {
  display: none;
}

.closeBtn {
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  left: 93%;
  margin-top: -10px;
  cursor: pointer;
}


.choose_clan {
  width: 100%;
  height: 10vh;
  border-top: 5px solid var(--brandcolor);
  border-bottom: 5px solid var(--brandcolor);
  /* background-color: var(--color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("assets/step.png"); */
  background-size: contain;
  background-repeat: no-repeat;

}

.step {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-image: url("assets/step.png");
  background-size: contain;
  background-repeat: no-repeat */
}

.choose_clan h2 {
  font-size: 20px;
  line-height: 1.5px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.choose_clan h1 {
  padding-top: 30px;
  line-height: 2.5px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
/* story */

.story {
  width: 100%;
  height: 'auto';
  /* background-color: var(--color);
   */
   background-color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story .container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  /* background-color: green; */
  
}

.story-content {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color); */
}

.story-text {
  width: 85%;
  height: 95%;
  color: #111;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.story-image {
  width: 48%;
  height: 50vh;
  /* background-color: var(--color); */
  /* background-color: red; */
  /* padding: 0px 20px; */
  /* background-color: var(--brandcolor); */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.story-img {
  background-image: url("assets/char1.PNG");
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  /* background-color: violet; */
}
.story-2 {
  width: 100%;
  height: 30vh;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-2 .container {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.story-2 p {
  font-size: 10px;
  /* line-height: 15px; */
  font-weight: 100;
  text-transform: capitalize;
  position: relative;
}
.story-2 h1 {
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 35px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}

/* road map */

.roadmap-intro {
  width: 100%;
  height: 20vh;
  /* padding-bottom: 100px; */
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
.roadmap-intro-1 {
  width: 100%;
  height: 20vh;
  /* padding-bottom: 100px; */
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
.roadmap{
  width: 100%;
  height: 130vh;
  padding-bottom: 100px;
  background-color: var(--dark1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
.roadmap-1{
  width: 100%;
  height: 130vh;
  padding-bottom: 100px;
  background-color: var(--dark1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}

.roadmap .map, .roadmap-1 .map {
  width: 100%;
  height: 40%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.roadmap-intro h1, .roadmap-intro-1 h1 {

  font-size: 48px;
  /* padding-top: 30px; */
  margin-bottom: 10px;
  line-height: 1px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}
.map h2 {

  font-size: 28px;
  /* padding-top: 30px; */
  margin-bottom: 5px;
  line-height: 25px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}
.map p {

  font-size: 12px;
  /* padding-top: 30px; */
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 100;
  width: 80%;
  text-transform: capitalize;
  position: relative;
}

.map .cont {
  width: 45%; height: 100%;
}

.objects {
  width: 5%; height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 14px;
  height: 14px;
  margin: 10px 0px;
  border-radius: 100%;
  background-color: white;
  /* opacity: 0.2; */
}

.line {
  width: 3%;
  height: 80%;
  background-color: rgb(218, 215, 215);
  /* opacity: 0.2; */
  
}
.line-2{
  width: 3%;
  height: 95%;
  background-color: rgb(231, 226, 226);
  /* opacity: 0.2; */
}

.roadmap .map-1 {
  width: 100%;
  height: 25%;
  display: flex;
}



/* btn component  */


/* 3 */
.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: var(--tRed);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: var(--tRed);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: var(--tRed);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}



/* footer */

.contact {
  height: 40vh;
  width: 100%;
  background-color:  var(--color0);
  border-bottom: 10px solid var(--tRed);
  background-image: url("assets/tensei.PNG");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  width: 99%;
  height: 95%;
   margin: 0px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      /* gap: 20px; */
    }

    .footer a {
      color: var(--dark1);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px 10px;
      margin-bottom: -5px;
    }

    .footer a:hover {
      color: #e73700;
    }

    .footer i {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }

    .footer span {
      font-size: 16px;
    }

/* Responsive styling for mobile */
@media (max-width: 780px) {
  .slide-menu {
      font-size: 18px;
  }
}

@media screen and (min-width:720px) and (max-width: 820px) {
.map-1 {
  display: flex!important; align-items: center; justify-content: left;
}



.map-1 p {
   font-size: 20px !important;
   line-height: 40px !important;
}
.map-1 h2 {
   font-size: 48px !important;
   line-height: 40px !important;
}
}

/* small mobile */
@media screen and (max-width: 375px) {
  .logoSm {
    margin-top: 120px !important;
  }
  .story {
    height: 120vh !important;
    /* background-color: ; */
  }
  .story p {
    font-size: 10px !important;
  }

  .about p {
    font-size: 10px !important;
  }
  .lg {
    display: none !important;
}
.sm {
  display: block !important;
}
.roadmap-1{
  width: 100%;
  height: 80vh;
  /* padding-bottom: 100px; */
  background-color: var(--dark1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
}

/* min mobile  */ 
@media screen and (max-width: 640px) {
  .logoSm {
    margin-top: 50px;
  }
  .feature-title {
    font-size: 24px !important;
    line-height: 30px !important;
    text-align: center !important;
    width: 80%;
  } 

  .story p {
    font-size: 12px;
  }
}
/* max mobile */
@media screen and (max-width: 960px) {

  .sm {
      display: block !important;
  }
  .lg {
      display: none !important;
  }

  .logoSm {
    margin-top: 45px;
  }
  .objects {
    
    padding-top: 0px;
    width: 15%;
   
  }
  .map-1 {
    display: flex!important; align-items: center; justify-content: left;
    height: 30% !important; 
  }
  .map-1 h2 {

    font-size: 20px !important;
    /* padding-top: 30px; */
    margin-bottom: 5px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
  }
  .map-1 p {
  
    font-size: 12px;
    /* padding-top: 30px; */
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: 100;
    width: 80%;
    text-transform: capitalize;
    position: relative;
  }

  .roadmap{
    width: 100%;
    height: 160vh;
    padding-bottom: 100px;
    background-color: var(--dark1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    border: 0px solid rgba(0, 0, 0, 0) !important;
  }
  .roadmap-1{
    width: 100%;
    height: 80vh;
    /* padding-bottom: 100px; */
    background-color: var(--dark1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0px solid rgba(0, 0, 0, 0) !important;
  }
 .roadmap-title {
    font-size: 34px !important;
    line-height: 30px !important;
    text-align: center !important;
  }
  .roadmap-intro, .roadmap {
    padding-bottom: 0px;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  
  }



  .home-banner {
      height: 80vh;
      background-color: var(---white);
      background-image: url("assets/banner.png");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
  }
  /* .section-1 {
      height: 25vh;
      border-top: var(--color) 5px solid;
      background-image: url("assets/tensei.PNG");
      background-size:contain;
  } */

  .choose_clan h1 {
    padding-top: 40px;
    line-height: 0px;
    font-weight: 700;
    font-size: 24px;
  }
  .choose_clan h2 {
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }

  .story {
    height: 80vh;
  }
  .story-content {
    width: 100%;
    height: 100%;
    /* background-color: var(--color); */
  }

  .story-image {
    display: none;
  }
  .story-text {
  font-size: 12px;
  }
  .story-2 .container {
    width: 90%;
    height: 90%;
  }
  
  .story-2 p {
    font-size: 10px;
    line-height: 15px;
  }
  .story-2 h1 {
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 5px;
    line-height: 15px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
  }

 
   .footer {
    width: 99%;
    height: 95%;
     margin: 0px;
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        align-items: flex-end;
        /* gap: 20px; */
      }
   .footer a {
    color: var(--dark1);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .footer i {
    width: 18px;
    height: 18px;
    font-size: 20px;
  }

  .footer span {
    font-size: 8px;
  }
  .contact {
    height: 30vh;
  }

}

/* ipad  and surface and above */
@media screen and (min-width: 760px) and (max-width: 980px) {
  .logoSm {
    margin-top: 0px !important;
  }
 
  .lg {
    display: none !important;
}

.feature-title {
  font-size: 44px !important;
  line-height: 40px !important;
  text-align: center !important;
}
.closeBtn {
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  left: 95% !important;
  margin-top: -10px;
  cursor: pointer;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 5px 30px;
  color: #fff;
}



.sm {
  display: block !important;
}

.story {
  height: 40vh;
}
}

/* min height for large screens */
@media screen and (min-height:600px) and (max-height: 1024px) {

  .story {
    height: 100vh;
  }
  .story-img {
    height: 90vh;
  }

  /* .story p {
    font-size: 16px !important;
  } */
  .story h1 {
    line-height: 0px;
  }
}
/* min height for large screens 600px */
@media screen and (min-height:600px) and (max-height: 600px) {

  .story {
    height: 100vh;
  }
  .story-img {
    height: 90vh;
  }

  .story p {
    font-size: 12px !important;
  }

  .story h1 {
    line-height: 0px;
  }
}

.map-1 {
  display: flex!important; align-items: center; justify-content: left;
}
.map-1 h2 {

  font-size: 28px;
  /* padding-top: 30px; */
  margin-bottom: 5px;
  line-height: 28px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}
.map-1 p {

  font-size: 12px;
  /* padding-top: 30px; */
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 100;
  width: 80%;
  text-transform: capitalize;
  position: relative;
}
/* 
.roadmap-intro, .roadmap {
  padding-bottom: 0px;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

} */



@media screen and (min-width:1024px) {
  .sm {
    display: none !important;
  }
  
}

